@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

.logo{
  cursor: pointer;
}

body{
  font-family: "Raleway";
}

button{
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.on{
  color: #000;
}

.off{
  color: #ccc;
}

.explore{
  background-image: url("images/explore.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.nav-btn{
  text-align: center;
  color: white;
  background-color: rgba(255, 254, 254, 0.489);
  align-items: center;
  font-size: 60px;
  cursor: pointer;
}

.nav-btn:hover{
  background-color: rgba(0, 0, 0, 0.404);
}

.faq{
  background-image: url("images/faq.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.add-new{
    background-image: url("images/add-new.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

p{
  margin: 0px;
  padding: 0px;
}

h4{
  margin: 0px;
  padding: 0px;
}

h5{
  margin: 0px;
  padding: 0px;
}

h6{
  margin: 0px;
  padding: 0px;
}

.card-box{
  text-align: center;
  font-size: 16px;
}

.card-box-title{
  border: 1px solid black;
  font-family: 'Raleway';
  font-weight: 200;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
  margin-top: 2px;
  margin-bottom: 2px;
}

.span-body{
  font-size: 16px;
  display: inline-block;

}

.card{
  border: 1px solid black;
}

.card-box-all{
  text-align: center;
  font-size: 13px;
}
.card-box-title-all{
  /* border: 1px solid black; */
  font-family: 'Raleway';
  font-weight: 600;
  letter-spacing: 2px;
  /* font-style: italic; */
  text-transform: lowercase;
  font-size: 15px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}

.card-gender-all, .card-year-all, .span-body-all{
  font-size: 13px;
  font-style: italic;
  margin: 0px;
  padding: 0px;
}

.span-body-all{
  display: inline-block;
}

.card-btn{
  border-radius: 0px;
  /* background-color: white; 
  border-color: black;
  color: black; */
  font-size: 13px;
  background-color: black;
  /* border: 1px solid black; */
  color: white;
}

.card-btn:hover{
  /* background-color: black;
  color: white; */
  background-color: white;
  border: 1px solid black;
  color: black;
}

.accordion-button:not(.collapsed) {
  background-color: black;
  color: white;
}
.accordion-button:focus{
  border-color:rgba(0, 0, 0, 0.404)
}

.accordion-body{
  border: 1px solid black;
}

.accordion-button{
  border: 1px solid black;
}

.black-button{
  background-color: black;
  color: white;
}

.accordion-header{
  text-align: center;
}

.black-button:hover{
  background-color: white;
  border: 1px solid black;
  color: black;
}

.cancel-button{
  background-color: #5C636A;
  color: white;
}

.cancel-button:hover{
  background-color: white;
  border: 1px solid #5C636A;
  color: #5C636A
}

.delete-button{
  background-color: #78011A;
  color: white;
}

.delete-button:hover{
  border-color: #78011A;
  background-color: white;
  color: #78011A
}

.form-check-input:checked{
  background-color: black;
}

.single-artist-image{
  height: auto
}


.accordion-button:not(.collapsed)::after{
  background-image: url('./tattoo.png')
}

.header-image{
  height: 300px;
  width: 100vw;
  object-fit: cover;
  position: absolute;
}

.overlay{
  background-color: rgba(0,0,0,0.5);
  position: relative;
  height: 300px;
  width: 100vw;
}

.overlay h1{
  text-align: center;
  color: white;
  font-style: italic;
  font-size: 60px;
}

.bold-text{
  font-weight: 700;
}

.disclaimer{
  font-style: italic;
}



/* screen size responsiveness */
@media screen and (max-width: 767px){
  .single-artist-image{
    max-height: 300px;
  }
  .header-image, .overlay{
    height: 200px;
  }
  .overlay h1{
    font-size: 50px;
  }
}