@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

.logo {
  cursor: pointer;
}

body {
  font-family: "Raleway";
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.on {
  color: #78011A;
}

.off {
  color: rgba(0, 0, 0, 0.18);
}

.stars{
  color: #78011A;
}

.explore {
  background-image: url("images/explore.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 160px;
  border: 2px solid white;
}

.nav-btn {
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.449);
  align-items: center;
  font-size: 60px;
  cursor: pointer;
  height: 100%;
  font-family: "Poiret One";
  letter-spacing: 5px;
}

.header-logo{
  height: 70px;
}

.nav-btn:hover {
  background-color: rgba(255, 254, 254, 0.338)
}

.faq {
  background-image: url("images/faq.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 160px;
  border: 2px solid white;
}

.add-new {
  background-image: url("images/add-new.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 160px;
  border: 2px solid white;
}

p {
  margin: 0px;
  padding: 0px;
}

h4 {
  margin: 0px;
  padding: 0px;
}

h5 {
  margin: 0px;
  padding: 0px;
}

h6 {
  margin: 0px;
  padding: 0px;
}

.card-box {
  text-align: center;
  font-size: 16px;
}

.card-box-title {
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: lowercase;
  font-size: 20px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}

.span-body {
  font-size: 16px;
  display: inline-block;

}

.artist-name {
  font-weight: 800;
  font-size: 25px;
}

.card {
  border: 1px solid black;
}

.card-box-all {
  text-align: center;
  font-size: 13px;
}

.card-box-title-all {
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: lowercase;
  font-size: 15px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}

.card-name {
  font-weight: 800;
}

.card-gender-all,
.card-year-all,
.span-body-all {
  font-size: 13px;
  font-style: italic;
  margin: 0px;
  padding: 0px;
}

.span-body-all {
  display: inline-block;
}

.card-title {
  font-family: "Poiret One";
  font-weight: 900;
  letter-spacing: 2px;
}

.card-btn {
  border-radius: 0px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  background-color: black;
  color: white;
}

.card-btn:hover {
  background-color: white;
  border: 1px solid black;
  color: black;
}

.accordion-button:not(.collapsed) {
  background-color: black;
  color: white;
}

.accordion-button:focus {
  border-color: rgba(0, 0, 0, 0.404)
}

.accordion-body {
  border: 1px solid black;
}

.accordion-button {
  border: 1px solid black;
}

.black-button {
  background-color: black;
  color: white;
}

.accordion-header {
  text-align: center;
}

.black-button:hover {
  background-color: white;
  border: 1px solid black;
  color: black;
}

.cancel-button {
  background-color: #5C636A;
  color: white;
}

.cancel-button:hover {
  background-color: white;
  border: 1px solid #5C636A;
  color: #5C636A
}

.delete-button {
  background-color: #78011A;
  color: white;
}

.delete-button:hover {
  border-color: #78011A;
  background-color: white;
  color: #78011A
}

.form-check-input:checked {
  background-color: black;
  border-color: black;
}

.single-artist-image {
  height: auto
}

.review-btn {
  font-size: 0.8rem;
}

.list-group-item {
  border-color: black;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("./images/down-chevron.png");
  transform: rotate(0deg);
}

.accordion-button::after {
  background-image: url("./images/up-chevron.png");
  transform: rotate(-180deg)
}

.header-image {
  height: 250px;
  width: 100vw;
  object-fit: cover;
  position: absolute;
}

.header-banner {
  font-family: "Poiret One";
  font-weight: 900;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.3);
  position: relative;
  height: 250px;
  width: 100vw;
}

.overlay h1 {
  text-align: center;
  color: white;
  font-size: 60px;
  font-weight: 900;
  letter-spacing: 5px;
}

.bold-text {
  font-weight: 700;
}

.disclaimer {
  font-style: italic;
}

.error-border {
  border: 1px solid #d81d46;
  border-radius: 0.25rem;
}

.error-message {
  color: #d81d46;
}

.navbar-logo,
.navbar-nav, .insta-title {
  font-weight: 900;
  font-family: "Poiret One"
}

.insta-title{
  letter-spacing: 2px;
}

.home-nav {
  font-size: 60px;
}

.progress{
  height:  5px;
  overflow: visible;
  background: grey;
}

.progress-bar{
  overflow: visible;
  position: relative
}

.progress .progress-icon{
  width: 30px;
  height: 30px;
  line-height: 25px;
  border-radius: 50%;
  font-size: 13px;
  position: absolute;
  border-color: black;
  border-width: 3px;
  border-style: solid;
}

.progress .progress-icon2{
  width: 30px;
  height: 30px;
  line-height: 25px;
  border-radius: 50%;
  font-size: 13px;
  position: absolute;
  border-color: black;
  border-width: 3px;
  border-style: solid;
  left: 50%;
}

.progress .progress-icon3{
  width: 30px;
  height: 30px;
  line-height: 25px;
  border-radius: 50%;
  font-size: 13px;
  position: absolute;
  border-color: black;
  border-width: 3px;
  border-style: solid;
  left: 100%;
}


/* screen size responsiveness */
@media screen and (max-width: 767px) {
  .single-artist-image {
    max-height: 300px;
  }

  .header-image,
  .overlay {
    height: 180px;
  }

  .header-banner{
    letter-spacing: 2px;
    width: 100vw;
  }

  .overlay h1 {
    font-size: 35px;
  }

  .header-logo{
    height: 45px;
  }

  .home-nav{
    font-size: 45px;
  }

  .nav-btn,
  .faq,
  .explore,
  .add-new {
    height: 220px;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    border-left: 0px;
    border-top: 0px;
    width: 80vw;

  }

  .filter-buttons{
    justify-content: center;
  }

  .progress .progress-icon2{
    left: 45%;
  }

  .progress .progress-icon3{
    left: 95%;
  }
}